# content
zen/
*.mp4
*.odt
*.pdf
favicon.svg

# npm packages
node_modules/

# obsidian
#.obsidian/
.obsidian/app.json
.obsidian/apperance.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migrations.json
.obsidian/workspaces.json

# sensible data
.env
