# content
favicon.svg
zen/
*.mp4
*.odt
*.pdf

# npm
node_modules/
package.json
package-lock.json

# Obsidian
.trash/
.obsidian/plugins/digitalgarden/data.json
workspace
workspace.json

# Script for remove sensible data
.env
.husky/
remove-sensitive-data.js
updateConfig.js