# content
favicon.svg
zen/
*.mp4
*.odt
*.pdf

# npm packages
node_modules/
#.husky/
#package-lock.json
#package.json

# Obsidian
.trash/
.obsidian/plugins/digitalgarden/data.json
workspace
workspace.json

# sensible data
.env
